function formatReadCount(number) {
  var u = ['w', 'k'];
  var t = [10000, 1000];

  for (var i = 0; i <= 1; i++) {
    if (number >= t[i]) {
      return ((number / t[i]).toFixed(1)) + u[i];
    }
  }

  return number;
}

function showTime(time, level = 1) {
  var t = time.split(' ').join('T');
  var diffSeconds = (getDate().valueOf() - Date.parse(t)) / 1000;

  var u = ['年', '个月', '星期', '天', '小时', '分钟', '秒'];
  var t = [31536000, 2592000, 604800, 86400, 3600, 60, 1];

  if (diffSeconds > t[level]) {
    if (getDate().getFullYear() != time.substring(0, 4)) {
      return time.substring(0, 16);
    }

    return time.substring(5, 16);
  }

  for (var i = 1; i <= 6; i++) {
    var inm = Math.floor(diffSeconds / t[i]);

    if (inm !== 0) {
      return inm + u[i] + '前';
    }
  }

  return time;
}

function includes(needle, arr) {
  if (typeof arr !== 'object' || !arr.indexOf) return false

  return arr.indexOf(needle) > -1
}

module.exports = {
  formatReadCount: formatReadCount,
  showTime: showTime,
  includes: includes,
};